.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-size: cover;
  background-position: center;
  color: rgba(30, 30, 32, 0.788);
}
.hero-left {
  flex: 1;
  max-width: 60%;
}

.hero-image {
  width: 110%; 
  margin-bottom: 20px; 
}
.hero-content{
 position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

 .hero-text-wrapper {
  background-image: url("./background.png");
  background-size: cover;
  width: 1250px;
  height: 350px;
   background-color:rgba(0, 0, 0, 0.5);
padding: 20px;
border-radius: 1px;
text-align: center;
position: relative;
/* opacity: 0.2; */
box-sizing: border-box;



} 
.hero-text-wrapper h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-text-wrapper {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.website-introduction {
  font-size: 1.2em;
  color: rgb(14, 12, 12);
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
}

.hero-hand-icon {
  display:flex;
  align-items:center;
  gap:20px;
  
}

.hero-latest-btn { 
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width:310px;
  height:70px;
  border-radius: 75px;
  margin-top: 30px;
  

  font-size: 22px;
  font-weight:500;

  
}

.hero-right {
  display:flex;
  align-items:center;
  gap:20px;
  
}
.product-image{
align-items:center;
width:20px;

}
